nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav-list{
  display: flex;
  gap: 1rem;
}

.nav-list a{
  color: var(--main-black);
  font-weight: 600;
}