.wrapper{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3.25rem auto;
  gap: 3rem;
  padding: 3.25rem 1rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}